
body {
  
  background-image: url("/Assets/BackgroundTexture.jpeg");
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-items: center;
  
}




.C4image {
  height: 10vh;
  background-color: blue;
  display: flex;
  align-content: center;
  justify-items: center;
}

#message {
  background-color: rgba(255, 255, 0, 0.544);
  display: flex;
  height: 10vh;
  width: 10vw;
  align-content: center;
  justify-items: center;
  align-items: center;
}

  
.board {
  background-color: rgba(11, 228, 11, 0.201);
  position: static;
  margin: 10vh auto;
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(6, 100px);
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  /* margin: 100px; */
  width: 90vh;
} 



.circle {
  background-image: url("/Assets/RedChip.png");
  background-position: 50% 50%;
  background-size: cover;
  border: solid rgba(255, 0, 0, 0.229);
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
}

/* .tenor-gif-embed {
  height: 100vh;
  width: 100vw;
  display: flex;
  
  background-color: rgba(104, 185, 57, 0);
  z-index: -10;
} */

.button {
  
  display: flex;
  
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.516);
  color: rgba(255, 255, 255, 0.678);
  border-radius: 50%;

  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.button:hover {
  background-image: url("/Assets/BackgroundTexture.jpeg");
  color: rgb(255, 0, 0);
  box-shadow: 0 5px 15px rgb(255, 0, 0);
}

.messagescreen {
  background-color: salmon;
  height: 10vh;
  width: 10vw;
  color: rgba(255, 255, 255, 0.678);
  font-size: 20px;
  display: flex;
  align-content: center;
  justify-items: center;
}


.token {
  height: 100px;
  width: 100px;
}